<!-- <p>HOLA MUNDO ! PRUEBA!</p> -->

<div class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Lugares Turisticos!</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.planetware.com/seychelles/best-tropical-vacations-sey-1-12.htm" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.holidify.com/pages/best-urban-city-experience-1534.html" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://visitperth.com/see-and-do/public-spaces/Venues/forrest-place" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.huffpost.com/entry/27-of-the-best-place-in-the-world-to-swim_n_5174334" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwianrybhrr2AhUQILkGHWwdB2IQFnoECAkQAQ&url=https%3A%2F%2Fwww.dayoutwiththekids.co.uk%2Fblog%2Fthings-to-do-and-activities-on-a-rainy-day&usg=AOvVaw3XV8kpWcW2XOuc-h1OjStA" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.dayoutwiththekids.co.uk/blog/things-to-do-and-activities-on-a-rainy-day" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjGwrLBhrr2AhXRE7kGHU4WBFUQFnoECAcQAQ&url=https%3A%2F%2Fwww.outsideonline.com%2Fadventure-travel%2Ftop-10-desert-getaways%2F&usg=AOvVaw0ceHSd3tfaSWdApaEkM3KB" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="https://www.surfholidays.com/blog/the-15-best-surf-towns-in-the-world" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
        </a>
      </div>
      
      
    </div>
  
  </div>